{% extends "templates/base.html" %}
{% block content %}
<h3>Your photos:</h3>
{% if photos|length-is:0 %}
<div class="alert alert-warning">
    It looks like you have not uploaded photos yet...
</div>
{% endif %}

<ul class="media-list">
    {% for el in photos %}
    <li class="media">
        <a class="pull-left" href="/details/{{el._id}}">
            <img class="media-object" src="http://szoy5s.cloudimage.io/s/resizenp/200x200/{{el.path}}" alt="{{el.loc}}" style="width: 200px">
        </a>
        <div class="media-body">
            {% if el.resolved %}
            <span class="label label-success">resolved</span>
            <p><h4 class="media-heading">{{el.loc}}</h4></p>
            {% if el.geo-tag %}
            <h5 class="media-heading">Lat: {{el.geo-tag.latitude|double-format:5}} Lng: {{el.geo-tag.longitude|double-format:5}}</h4>
            {% endif %}
                {% else %}
                <span class="label label-warning">not resolved</span>
                <p></p>
                <p>
                    <a href="/details/{{el._id}}" class="btn btn-primary">Help!</a>
                </p>
                {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}